.footer {
	height: 37rem;
	background-color: black;
	color: white;
	font-size: 1.6rem;

	&--header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		&__logo {
			border-top: 5px rgb(216, 125, 74) solid;
			padding-top: 6rem;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	&-about {
		max-width: 50rem;
		margin-left: 0;
		text-align: left;
	}

	&--bottom {
		display: flex;
		justify-content: space-around;
	}
}
